<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml" />

	<property name="CONSOLE_LOG_PATTERN" value="%clr(%date{ISO8601}){faint} [ thread=%thread ][ level=%clr(%level) ][ logger=%clr(%logger{1}){cyan} ]: %message%n"/>

	<include resource="org/springframework/boot/logging/logback/console-appender.xml" />

	<root level="INFO">
		<appender-ref ref="CONSOLE" />
	</root>
</configuration>