<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs"
	xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
		http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd
	">
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<jaxrs:server address="/">
		<jaxrs:serviceBeans>
			<ref bean="isvService" />
			<ref bean="integrationService" />
		</jaxrs:serviceBeans>
		<jaxrs:providers>
			<bean class="com.fasterxml.jackson.jaxrs.json.JacksonJsonProvider"></bean>
		</jaxrs:providers>
	</jaxrs:server>
	<cxf:bus>
		<cxf:outInterceptors>
			<ref bean="oauthPhaseInterceptor" />
		</cxf:outInterceptors>
		<cxf:features>
			<cxf:logging />
		</cxf:features>
	</cxf:bus>
</beans>
