<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:security="http://www.springframework.org/schema/security"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
		http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd
	">
	<security:http use-expressions="true">
		<security:intercept-url pattern="/**" access="permitAll" />
		<security:form-login login-page="/login" />
	</security:http>
	<bean id="openIdAuthenticationProvider" class="org.springframework.security.openid.OpenIDAuthenticationProvider">
		<property name="userDetailsService" ref="openIdUserDetailsService" />
	</bean>
	<security:authentication-manager alias="authenticationManager">
		<security:authentication-provider ref="openIdAuthenticationProvider" />
	</security:authentication-manager>
	<!-- OpenID Relying Party Beans -->
	<bean id="openIdConsumer" class="org.springframework.security.openid.OpenID4JavaConsumer">
		<constructor-arg>
			<list>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="userUuid" />
					<constructor-arg index="1" value="https://www.appdirect.com/schema/user/uuid" />
				</bean>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="email" />
					<constructor-arg index="1" value="http://axschema.org/contact/email" />
				</bean>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="firstName" />
					<constructor-arg index="1" value="http://axschema.org/namePerson/first" />
				</bean>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="lastName" />
					<constructor-arg index="1" value="http://axschema.org/namePerson/last" />
				</bean>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="country" />
					<constructor-arg index="1" value="http://axschema.org/contact/country/home" />
				</bean>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="language" />
					<constructor-arg index="1" value="http://axschema.org/pref/language" />
				</bean>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="roles" />
					<constructor-arg index="1" value="https://www.appdirect.com/schema/user/roles" />
					<property name="count" value="99" />
				</bean>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="companyUuid" />
					<constructor-arg index="1" value="https://www.appdirect.com/schema/company/uuid" />
				</bean>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="companyName" />
					<constructor-arg index="1" value="http://axschema.org/company/name" />
				</bean>
				<bean class="org.springframework.security.openid.OpenIDAttribute">
					<constructor-arg index="0" value="title" />
					<constructor-arg index="1" value="http://axschema.org/company/title" />
				</bean>
			</list>
		</constructor-arg>
	</bean>
</beans>
